In [1]:
subjects=["English","Python","Java","PHP","Javascript"]
marks=[100,80,50,70,80]
print(subjects)
print(marks)

['English', 'Python', 'Java', 'PHP', 'Javascript']
[100, 80, 50, 70, 80]

In [4]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"] 
smaller_list_of_cities = cities[2:5]
print(smaller_list_of_cities)

['Chicago', 'Denver', 'Los Angeles']

In [7]:
cities.pop()

'Seattle'

In [8]:
print(cities)

['Atlanta', 'Chicago', 'Denver', 'Los Angeles']

In [9]:
cities.insert(0, "New York")

In [9]:
print(cities)

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [10]:
cities = ["Atlanta", "Baltimore", "Chicago", "Denver", "Los Angeles", "Seattle"] 
for city in cities:
    #print("name of city",city)
    print("city is ",city, city in ("Baltimore","Chicago","Denver"))

    #print("city is Baltimote", city == "Baltimore" or city=="Chicago" or city == "Denver")

city is  Atlanta False
city is  Baltimore True
city is  Chicago True
city is  Denver True
city is  Los Angeles False
city is  Seattle False

In [12]:
num=2
for i in range(1, 11):
   print(num,'x',i,'=',num*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [27]:
father_names=["Arsi","Kamran","Ahmed","Ali"]
children_names=["Danyal ","Sheikh","Don","Ahmed"]
full_names=[]
index=0 
last=3
for father_name in father_names:
    for children_name in children_names:
        full_names.append(children_name+" "+father_name)
     
    print("First child name",full_names[index])
    print("Last child name",full_names[last])
    index += 4
    last +=4

First child name Danyal  Arsi
Last child name Ahmed Arsi
First child name Danyal  Kamran
Last child name Ahmed Kamran
First child name Danyal  Ahmed
Last child name Ahmed Ahmed
First child name Danyal  Ali
Last child name Ahmed Ali

In [35]:
names=["Usama","Ahmed","Dilawar"]
for name in names:
    print(name.upper())
    print(name.lower())

USAMA
usama
AHMED
ahmed
DILAWAR
dilawar

In [36]:
#DICTIONARY
customer_29876 = {"first name": "David", "last name": "Elliott", "address": "4803 Wellesley St."} 
customer_29876["first name"]

'David'

In [59]:
marksheet={"Chemistry":87,"Physics":78,"Maths":100, "Urdu":90, "English":80 }
marksheet["Chemistry"]
#for key,value in dictionary.items(): ''
for subjects,marks in marksheet.items():
    print(subjects, ":",marks)
    
for key in marksheet.keys():
    print(key)
    
for val in marksheet.values():
    print(val)

Chemistry : 87
Physics : 78
Maths : 100
Urdu : 90
English : 80
Chemistry
Physics
Maths
Urdu
English
87
78
100
90
80

In [56]:
marksheet={"Bilal":[87,86,65,90],"gullu":[87,86,65,90],"asad":[87,86,65,90]}
print(marksheet)
for student,marks in marksheet.items():
    print(student)
    print("chemisrty",marks[0])
    print("Physics",marks[1])
    print("Maths",marks[2])
    print("Maths",marks[3])

{'Bilal': [87, 86, 65, 90], 'gullu': [87, 86, 65, 90], 'asad': [87, 86, 65, 90]}
Bilal
chemisrty 87
Physics 86
Maths 65
Maths 90
gullu
chemisrty 87
Physics 86
Maths 65
Maths 90
asad
chemisrty 87
Physics 86
Maths 65
Maths 90